* {
	font-family: sans-serif;
	text-align: center;
}

form {
	padding: 20px 20px;
	margin-left: 40%;
	margin-right: 40%;
	background-color: #b3b3b3;
	margin-top: 10%;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgb(34, 34, 34);
	height: 400px;
}
#btn{
    width: 94%;
    margin-top: 40px;
	background-color: black;
	color: white;
	border-radius: 10px;
    transition: ease-out 0.3s;
}
#btn:hover{
    background-color: #165CFF;
	color: white;
    cursor: pointer;
}

h1 {
	text-align: center;
	padding: 20px;
	color: rgb(43, 43, 43);
    text-shadow: 1px 1px 10px rgb(77, 77, 77);
	font-family: sans-serif;
}

h4 {
	font-size: 16px;
	color: white;
	font-family: sans-serif;
	text-shadow: 1px 1px 10px rgb(77, 77, 77);
}

input {
	width: calc(90% - 20px);
	padding: 15px;
	margin: auto;
	margin-top: 20px;
	font-size: 16px;
    border-radius: 10px;
    border-style: none;
}

.ok {
	text-align: center;
	padding: 12px;
	background-color: #1e6;
	color: #fff;
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 10px;
}
.bad {
	text-align: center;
	padding: 12px;
	background-color: #a22;
	color: #fff;
	margin-left: 40%;
	margin-right: 40%;
	border-radius: 10px;
}

p{
	text-align: center;
	padding: 15px;
    color: rgb(88, 88, 88);
    line-height: 20px;
	font-family: sans-serif;
}

@media (max-width: 1250px) {
	form {
		padding: 10px 0;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 10%;
		height: 220px;
	}
	h1 {
		padding: 0;
		margin: 10px;
	}
	input {
		padding: 8px;
		margin-top: 10px;
	}

	p{
		padding: 8px;
		margin-top: 0;
        
	}

	#btn{
        width: 90%;
		margin-top: 20px;
		padding: 8px;
	}

	.ok {
		margin-left: 10%;
		margin-right: 10%;
	}
	.bad {
		margin-left: 10%;
		margin-right: 10%;
	}
	
	h4 {
		font-size: 12px;
	}

} 